[Desktop Entry]
Version=1.0
Name=Driftnet
Comment=Picks out and displays images from network traffic
Exec=driftnet
Icon=driftnet
Type=Application
Categories=Network;Monitor;
Keywords=Sniffer;Network capture;
